
@use '@angular/material' as mat;
@include mat.core();
@import './colors';
@import './palettes';
@import './themes';



// the dark theme background
$test-color: map_get($sts-v-black, 500);
$sts-v-dark-theme-palette-color : map-get($sts-v-app-dark-theme, color);
$sts-v-dark-theme-palette-color-background: map-get($sts-v-dark-theme-palette-color, background);
$sts-v-dark-theme-palette-color-background: map_merge($sts-v-dark-theme-palette-color-background, (background: $test-color));
$sts-v-dark-theme-palette-color: map_merge($sts-v-dark-theme-palette-color, (background: $sts-v-dark-theme-palette-color-background));
$sts-v-app-dark-theme: map_merge($sts-v-app-dark-theme, (color: $sts-v-dark-theme-palette-color));


// the light theme background
$sts-v-light-theme-palette-color : map-get($sts-v-app-light-theme, color);
$sts-v-light-theme-palette-color-background: map-get($sts-v-light-theme-palette-color, background);
$sts-v-light-theme-palette-color-background: map_merge($sts-v-light-theme-palette-color-background, (background: blue));
$sts-v-light-theme-palette-color: map_merge($sts-v-light-theme-palette-color, (background: $sts-v-light-theme-palette-color-background));
$sts-v-app-light-theme: map_merge($sts-v-app-light-theme, (color: $sts-v-light-theme-palette-color));

html { 
    padding: 0;
    margin: 0;
    height: 100%; 
    
    body { 
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        margin: 0; 
        padding: 0;
        height: 100%;

        &.dark-theme {
            @include mat.all-component-themes($sts-v-app-dark-theme);
        }

        &.light-theme {
            @include mat.all-component-themes($sts-v-app-dark-theme);
        }
    }
}

