<app-feature-page title="Pictures">
    <div fxLayout="column" fxLayoutGap="16px">
        <img src="assets/transparents/side-black.png"/>
        <img src="assets/transparents/corner-black.png"/>
        <img src="assets/transparents/black-corner-black.png"/>
    </div>
    
    <div fxLayout="column" fxLayoutGap="16px">
        <img src="assets/transparents/side-black.png"/>
        <img src="assets/transparents/corner-black.png"/>
        <img src="assets/transparents/black-corner-black.png"/>
    </div>
</app-feature-page>