<app-feature-page title="Welcome">
  <img src="assets/v-logo.png" />
  <section>
    <h3>Engine</h3>
    <p>
      Type: Supercharged and intercooled DOHC 32-valve V-8, aluminum block and
      heads, port fuel injection
    </p>
    <p>Displacement: 4,371 cc (267 cu in)</p>
    <p>Power (SAE net): 469 hp (350 kW; 476 PS) at 6400 rpm</p>
    <p>Redline: 6700 rpm</p>
    <p>Torque (SAE net): 439 lb⋅ft (595 N⋅m) at 3900 rpm</p>
    <p>Compression ratio: 9.0:1</p>
  </section>

  <section>
    <h3>Transmission</h3>
    <p>Type: 6-speed automatic with manumatic shifting</p>
  </section>

  <section>
    <h3>Dimensions</h3>
    <p>Wheelbase: 116.4 in Length: 197.6 in</p>
    <p>Width: 72.6 in Height: 58.2 in</p>
    <p>Curb weight: 4300 lb</p>
  </section>

  <section>
    <h3>Performance</h3>
    <p>Zero to 60 mph: 4.6 sec</p>
    <p>Standing ¼-mile: 13.8 sec @ 101 mph</p>
    <p>Top speed (drag limited): 165 mph</p>
    <p>EPA city driving: 16 mpg</p>
    <p>EPA highway driving: 25 mpg</p>
  </section>

  <section>
    <h3>Fuel Economy</h3>
    <p>EPA estimates: 16.4 mpg (14.3 L/100 km; 19.7 mpg‑imp)/17 mpg‑US (14 L/100 km; 20 mpg‑imp) (City/highway) 13/19</p>
    <p>Real world: 14 mpg city / and 21-23 mpg highway</p>
  </section>
</app-feature-page>
